<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{general/fragmentos :: head}">
        <title>Salon</title>
    </head>

    <body>

        <header th:replace="~{general/fragmentos :: header}">
        </header>

        <main>
            <section th:replace="~{general/fragmentos :: iframeVideo}">
            </section>
        </main>

        <footer th:replace="~{general/fragmentos :: footer}">
        </footer>

    </body>
</html>